.header{
    text-align: center;
    
}


.avatar{
    width: 10vw;
    height: 10vw;
    // width: 20em;
    // border-radius: 1000px;
}

.title{
    border-radius: 100PX;
    background-color: orange;
    color: antiquewhite;
    display: inline-block;
    margin: auto;
    width: fit-content;
    min-width: 70%;
    margin-top: 100px;
    // transform: translate(0,20px);
}

.name{
    text-align: center;
    font-size: larger;
}

.profeciency{
    text-align: center;
    font-size: medium;
}